# Auto detect text files and perform LF normalization
* text=auto
film/Secret[[:space:]]To[[:space:]]Success[[:space:]]-[[:space:]]Kurt.mp4 filter=lfs diff=lfs merge=lfs -text
film/The[[:space:]]Redemption[[:space:]]-[[:space:]]Kian.mp4 filter=lfs diff=lfs merge=lfs -text
